.color-1 {
  background: #FF0000;
}

.color-2 {
  background: #817066;
}

.color-3 {
  background: #7109AA;
}

.color-4 {
  background: #3914AF;
}

.color-5 {
  background: #A5260A;
}

.color-6 {
  background: #009999;
}

.color-7 {
  background: #00CC00;
}

.color-8 {
  background: #9FEE00;
}

.color-9 {
  background: #FFFF00;
}

.color-10 {
  background: #F984E5;
}

.color-11 {
  background: #FFFACD;
}

.color-12 {
  background: #FF7400;
}

.color-13 {
  background: #E40045;
}

.color-14 {
  background: #A600A6;
}

.color-15 {
  background: #62639B;
}

.color-16 {
  background: #FFA474;
}

.color-17 {
  background: #0B61A4;
}

.color-18 {
  background: #00AF64;
}

.color-19 {
  background: #CBBAC5;
}

.color-20 {
  background: #534B4F;
}

.color-21 {
  background: #A7FC00;
}

.color-22 {
  background: #FFBF00;
}

.color-23 {
  background: #FF845C;
}

.color-24 {
  background: #00416A;
}

.color-25 {
  background: #08E8DE;
}

.color-26 {
  background: #85004B;
}

.color-27 {
  background: #48036F;
}

.color-28 {
  background: #004953;
}

.color-29 {
  background: #06276F;
}

.color-30 {
  background: #753313;
}

.color-31 {
  background: #6B8E23;
}

.color-32 {
  background: #9B111E;
}
