#restartGameButton {
  margin: 0 auto;
  margin-top: 10px;
}

#winReport {
  color: #FF2B2B;
  visibility: hidden;
}

.center {
   text-align: center;
   margin: 0 auto;
}

.game-field {
    width: 408px;
    margin: 0 auto;
    overflow: hidden;
}

.game-field div {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
}

.start-page-form {
   border: 1px solid #ccc;
   height: 200px;
   width: 200px
}

input {
   margin-top: 5px;
   margin-bottom: 5px;
}

.color-1 {
  background: #FF033E;
}

.color-2 {
  background: #44944A;
}

.color-3 {
  background: #6A5ACD;
}

.color-4 {
  background: #F984E5;
}

.color-5 {
  background: #FFCF40;
}

.color-6 {
  background: #5E2129;
}

.color-7 {
  background: #42AAFF;
}

.color-8 {
  background: #CC5500;
}
