#restartGameButton {
  margin: 0 auto;
  margin-top: 10px;
}

#winReport {
  color: #FF2B2B;
  visibility: hidden;
}

.center {
   text-align: center;
   margin: 0 auto;
}

.game-field {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.game-field div {
    width: 98px;
    height: 98px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
}

.start-page-form {
   border: 1px solid #ccc;
   height: 200px;
   width: 200px
}

input {
   margin-top: 5px;
   margin-bottom: 5px;
}
